.App {
  box-sizing: border-box;
  max-width: 40%;
  min-width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar {
  box-sizing: border-box;
  border-radius: 0.3rem;
  margin-bottom: 6px;
  padding: 15px;
}

.navbar ul {
  list-style: none;
  padding-left: 0;
}

.navbar ul li {
  display: inline;
  padding: 20px;
}

.booklist {
  box-sizing: border-box;
  border-radius: 0.3rem;
  padding-bottom: 10px;
}

.booklist ul {
  list-style: none;
  padding-left: 0;
}

.booklist ul li {
  padding: 20px;
  border-radius: 0.3rem;
  margin: 6px 50px;
}

.themetoggler {
  border-top: none;
  border-left: none;
  font-size: 13px;
  padding: 2px;
  border-bottom-right-radius: 0.3rem;
  width: fit-content;
}

footer {
  font-size: 12px;
}

.newbook {
  box-sizing: border-box;
  margin: 6px 50px;
  padding: 0;
}

.newbook input[type="text"] {
  box-sizing: border-box;
  width: 80%;
  height: 40px;
  float: left;
  border-radius: 0.3rem;
  border: none;
}

.newbook input[type="submit"] {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid lightgrey;
}
